*{ box-sizing: border-box; margin :0; padding: 0;}
body{ overflow: hidden; font-family: Lato, sans-serif; width: 100%; height: 100% ; background-color: #dedede; color: #fafafa; padding: 20px;}
#container{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%;}
h1{ font-weight: 300; font-style: italic; font-size: 24px;}